#antler {
  background:  url(../images/cards/antler.svg) no-repeat 50% 50%;
  background-size: 160px 160px;
}

#arrows {
  background: url(../images/cards/arrows.svg) no-repeat 50% 50%;
  background-size: 158px 144px;
}

#brains {
  background: url(../images/cards/brains.svg) no-repeat 50% 50%;
  background-size: 160px 160px;
}

#codding {
  background: url(../images/cards/codding.svg) no-repeat 50% 50%;
  background-size: 160px 136px;
}

#motorbike {
  background: url(../images/cards/motorbike.svg) no-repeat 50% 50%;
  background-size: 160px 160px;
}

#rubik {
  background: url(../images/cards/rubiks-pazzle.svg) no-repeat 50% 50%;
  background-size: 160px 160px;
}

#selfie {
  background: url(../images/cards/selfie.svg) no-repeat 50% 50%;
  background-size: 160px 160px;
}

#style {
  background: url(../images/cards/style.svg) no-repeat 50% 50%;
  background-size: 160px 160px;
}